<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    {% block header %}
    <header>
        <nav>
            <a href="{{ path('app_home') }}">Accueil</a>
            <a href="{{ path('app_galerie') }}">Galerie</a>
        </nav>
    </header>
    {% endblock %}
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>
